.table td,
.table th{
    text-align: center;
}

.cursor-point{
    cursor: pointer;
}

.spin:focus{
    animation: spin 500ms ease-out 150ms;
}

@keyframes spin {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}